- from_me = text_message.message.from == current_membership
.rounded.p-2.shadow{ class: class_names('bg-success text-white': from_me, 'bg-white': !from_me),
                     data: { controller: 'message-decryptor',
                            message_decryptor_cipher_value: cipher.cipher_body,
                            message_decryptor_iv_value: cipher.iv,
                            message_decryptor_encrypted_key_value: cipher.encrypted_key,
                            message_decryptor_key_pair_id_value: cipher.key_pair.id,
                            message_decryptor_public_key_value: cipher.key_pair.public_key,
                            message_decryptor_encrypted_private_key_value: cipher.key_pair.encrypted_private_key,
                            message_decryptor_encrypted_private_key_iv_value: cipher.key_pair.encrypted_private_key_iv } }
